@media (max-width: 1200px) 
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 600px
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
    .flash-block
        height: 500px
        padding-top: 40px
        padding-left: 40px
        padding-bottom: 25px
        &__booking
            margin-bottom: 25px
        &__description
            margin-bottom: 30px
    .flash-card
        &__title
            margin-bottom: 20px
@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .logo__image
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: 47px
        &-menu
            padding: 22px 13px
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        padding-bottom: 60px
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
        padding: 26px 22px
    .map
        width: 340px
        height: 210px
    .reviews
        &-slider
            &__item
                max-width: 580px
                &::after, &::before
                    display: none 
            &__button
                &--prev
                    left: 11%
                    margin-left: -70px
                    transform: translateY(56%)
                &--next
                    right: 11%
                    margin-right: -70px
                    transform: translateY(56%)
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
    .newsletter
        padding: 92px 0
    .activities
        padding: 34px 0 60px 0
        &-wrapper
            flex-wrap: wrap
    .card
        width: 339px
        height: 255px
        margin-bottom: 18px
        &__title
            min-height: 40px
            word-break: break-word
    .packages
        &-wrapper
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(3, 500px)
    .footer
        padding-top: 72px
        &-wrapper
            grid-template-columns: repeat(7, 1fr)
            grid-row-gap: 45px
            grid-column-gap: 10px
        &__logo
            width: 96px
            height: 108px
            grid-row: 1 / 2
            grid-column: span 2
        &__input
            flex-basis: 47%
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 5
                align-self: center
                margin-left: -15px
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__additional
            grid-column: span 3
        &__legal
            grid-column: span 2
            justify-self: start
            margin-left: -10px
        &__contact
            &-details
                margin-top: 5px
                grid-column: span 5
                grid-row: 3
            &-form
                grid-column: span 6
                grid-row: 4
                max-width: 539px
        &__bottom
            grid-column: span 7
            margin-top: 8px
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &__search
            margin: auto
        &--mobile
            &--fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &__user, &__search
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex
        &-bottom
            display: none
            position: fixed
            padding-top: 30px
            left: 0
            right: 0
            bottom: 0
            top: 78px
            &--visible
                display: block
        &__user
            flex-direction: column
            justify-content: center
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 17px
                &--mobile
                    &--visible
                        display: block
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            border: none
            background-color: #ffffff
            cursor: pointer
            align-items: center
            justify-content: space-between
            flex-direction: column
            outline: none
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0px
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
        &-slider
            height: 350px
    .booking
        width: 100%
    .map
        width: 100% 
    .newsletter
        &-wrapper
            flex-direction: column
            max-width: 576px
            width: 92%
            align-items: flex-start
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
            &__button
                top: 32px
                &--prev
                    left: 50%
                    margin-left: -65px
                    transform: translate(-50%, 0)
                &--next
                    right: 50%
                    margin-right: -65px
                    transform: translate(50%, 0)
    .card
        width: 49%
        height: 255px
    .packages
        &-wrapper
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(3, 1fr)
    .flash-block
        padding-top: 25px
        padding-left: 20px
        padding-bottom: 25px
    .small-flash
        padding-left: 25px
        padding-right: 15px
    .footer
        &__input
            flex-basis: 100%
    .bottom
        &__pages
            margin-right: 150px
@media (max-width: 576px)              
    .logo__image
        width: 99px
    .hotel
        &__slider
            margin-bottom: 20px
        &-slider
            height: 250px
    .newsletter
        padding: 76px 0 83px 0
        &__title
            margin-bottom: 37px
    .subscribe
        width: 100%
    .packages
        &-wrapper
           grid-template-columns: 1fr
           grid-template-rows: repeat(5, 500px)
           column-gap: 0
        &__card
            display: grid
            grid-template-rows: 50% 50%
            grid-template-columns: none
            grid-column: span 1
        &__title
            margin-bottom: 50px
        &-title
            font-size: 26px
            line-height: 34px
    .flash-card
        &__label
            &--big
                font-size: 8px
                line-height: 10px
                padding: 4px 9px
    .flash-block
        &__description
            display: none
    .footer
        &-wrapper
            grid-template-columns: 1fr
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
                margin-left: 0
        &__additional
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__legal
            grid-row: 3
            grid-column: 1
            margin-left: 0
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__bottom
            grid-row: 8
            grid-column: 1
    .bottom
        &__pages
            width: 70%
            margin-right: 20px
@media (min-width: 320px) and (max-width: 480px)
    .container
        max-width: 280px
    .menu
        &-button
            align-items: top
    .navbar
        &-top
            padding-top: 24px
            padding-bottom: 28px
        &-bottom
            top: 70px
            padding-top: 10px
            &--visible
                overflow-y: scroll
        &__search
            width: 245px
            margin: auto
            height: 40px
            margin-bottom: 8px
        &-menu
            &__item
                &--mobile
                    &--visible
                        margin-bottom: 27px
    .hotel
        padding-top: 0
        padding-bottom: 40px
        &-right
            min-height: 402px
        &-slider
            height: 179px
        &-info
            &__text
                margin-bottom: 18px
    .stars
        margin-right: 15px
    .booking
        padding: 28px 22px
    .map
        height: 172px
    .newsletter
        max-height: 319px
        &-wrapper
            max-width: 280px
        &-title
            font-size: 20px
            line-height: 25px
            &__strong
                font-size: 30px
                line-height: 38px
    .reviews
        padding: 40px 0 64px 0
        &__title
            width: 245px
            margin: auto
            font-size: 18px
            line-height: 23px
            margin-bottom: 42px
        &-slider
            &__button
                &--prev
                  transform: translateX(-125%) 
                &--next
                  transform: translateX(125%)
    .activities
        padding: 0 0 42px 0
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
        &-wrapper
            flex-direction: column
            flex-flow: wrap
        &__card
            &:nth-of-type(1)
                order: 1
            &:nth-of-type(2)
                order: 3
                margin-top: 6px
            &:nth-of-type(3)
                order: 2
            &:nth-of-type(4)
                order: 4
    .card
        width: 100%
        height: 255px
    .packages
        &-title
            font-size: 18px
            line-height: 23px
    .footer
        padding-top: 66px
        &-wrapper
            grid-row-gap: 30px
        &__icon
            margin-right: 0
            &-wrapper
                min-width: 31px
        &__social
            &-network
                flex-direction: column
            &-links
                width: 85px
        &__title
            margin: 0 0 17px 0
            &--mt-3
                margin-top: 5px
            &--mb-2
                margin-bottom: 25px
            &--mb-3
                margin-bottom: 20px
                margin-top: 10px
            &--inline
                margin-top: 15px
                margin-bottom: 20px
        &__contact
            &-details
                width: 270px
            &-form
                width: 281px
        &__button
            order: 10
        &__info
            flex-basis: 100%
            margin-bottom: 15px
        &__bottom
            flex-wrap: wrap
            margin-top: 0
        &__message
            margin-bottom: 10px
    .bottom
        &__pages
            flex-basis: 100%
            margin-right: 0
            align-items: start
            margin-bottom: 10px
        
